@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Tiro+Bangla:ital@1&display=swap');
* {
                    padding: 0;
                    margin: 0;
                    font-family: 'IBM Plex Sans', sans-serif;
                  }
                  body {
                    background-image: linear-gradient(to bottom right, #F9E7FE, #DAFCFC);
                    overflow: hidden;
                   
                  }
                  .container {
                    width: 100%;
                    max-width: 1260px;
                    margin: auto;
                  }
                  h2.heading {
                     /* margin-top: 20px; */
                     padding-top: 10px;
                     margin-top: 40px;
                     margin-bottom: 90px;
                      text-align: center;
                      color: black;
                      font-size: 50px;
                      font-family: 'Tiro Bangla', serif;
                  }
                  .profile-card {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      /* height: 100vh; */
                  }
                  .card-grid {
                      /* display: grid;
                      grid-template-columns: 1fr 1fr 1fr 1fr;
                      grid-gap: 20px; */
                      display: flex;
                      align-items: center;
                      justify-items: space-between;
                      margin-top: 0px;
                  }
                  .card {
                      width: 50%;
                      height: 400px;
                      display: block;
                      border-radius: 10px;
                      margin-right: 50px;
                      padding: 2px;
                      background: #fff;
                      overflow: hidden;
                      position: relative;
                      filter: blur(3px);
                      transition: background 0.8s linear;
                  }
                  /* .card0 {
                      background: url(https://i.ibb.co/JcMGzxT/01.jpg) center center no-repeat;
                      background-size: 400px;
                  } */
                  .card1 {
                      background: url(https://i.ibb.co/ZY4Dybj/02.jpg) center center no-repeat;
                      background-size: 900px;
                  }
                  .card2 {
                      background: url(https://i.ibb.co/c2n1k9v/03.jpg) center center no-repeat;
                      background-size: 900px;
                  }
                  /* .card3 {
                      background: url(https://i.ibb.co/ftVKH2p/04.jpg) center center no-repeat;
                      background-size: 400px;
                  } */
                  .card:hover {
                    background-size: 900px;
                    background-position: left center;
                    filter: unset; 
                  }
                  .overlay {
                      opacity: 1;
                      height: 100%;
                      padding: 20px;
                      background: rgba(0 0 0 / .4);
                      transition: opacity 0.8s linear;
                  }
                  h2, p {
                      color: #fff;
                  }
                  .content > h2 {
                      margin-bottom: 10px;
                  }
                  
                  .content {
                      height: 90%;
                      position: relative;
                      right: -1000px;
                      transition:right 0.8s linear;
                  }
                  .icons {
                      position: absolute;
                      left: 10px;
                      bottom: 10px;
                      color: #fff;
                      height: 160px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-around;
                      align-items: center;
                      opacity: 0;
                      transition:opacity 0.8s linear;
                    
                  }
                  .icons > a {
                    color: #fff;
                  }
                  .card:hover .content {
                      right: 0;
                  }
                  .card:hover .icons {
                    opacity: 1;
                  }
                  
                   